<div class="aboutUs" style="margin-bottom: 100px;">
    <h1 style="display: flex; justify-content: center; margin: 20px 0">Nhóm 1</h1>
    <div class="d-flex row">
        <div class="col-8">
            <h2>Thông tin đồ án</h2>
            <ul>
                <li>
                    <h3>Tên đồ án: WordHavenBooks</h3>
                </li>
                <li>
                    <h3>Mô tả đồ án:</h3>
                    <span class="ms-4">
                        Chào mừng bạn đến với WordHavenBooks - trải nghiệm mua sắm sách trực tuyến mới lạ và độc đáo. Đây không chỉ là một trang web bán sách thông thường, mà còn là một không gian tương tác đặc sắc, nơi mà độc giả không chỉ mua sách mà còn được trải nghiệm sâu sắc thế giới văn hóa và tri thức.
                        <br>
                        WordHavenBooks mang đến cho bạn một giao diện đẹp mắt, dễ sử dụng và tương tác, giúp bạn dễ dàng tìm kiếm và khám phá các đầu sách phong phú từ nhiều thể loại khác nhau. Từ văn học đến khoa học, từ sách thiếu nhi đến sách nghệ thuật, chúng tôi tự hào về bộ sưu tập đa dạng để đáp ứng đa dạng sở thích của độc giả.
                        <br>
                        Ngoài ra, WordHavenBooks còn cung cấp các tính năng đặc biệt như đánh giá sách, đề xuất sách dựa trên lịch sử mua sắm và các chương trình khuyến mãi hấp dẫn. Chúng tôi cam kết đem lại trải nghiệm mua sắm trực tuyến an toàn, thuận lợi và đồng thời là nguồn cảm hứng cho sự đam mê đọc sách.
                        <br>
                        Hãy cùng WordHavenBooks khám phá không gian vô tận của tri thức và giải mã những câu chuyện tuyệt vời chỉ qua vài cú click. Chúng tôi hy vọng trở thành đồng hành đáng tin cậy của bạn trong hành trình khám phá thế giới qua từng trang sách!
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>